#set( $head_title = "$page.pageName変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("page") )

#errorMarkup()

<h3>$head_title</h3>
グループ変更
<form method="POST" action="$link.setAction("$actionName")" >
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">グループ名</td>
      <td bgcolor="Khaki" align="left">$!F11util.htmlEscape($trendSeries.seriesName)</td>
      <td><a href="$link.setForward('editTrendSeriesName')">変更</a></td>
    </tr>
  </table>
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">色</td>
      <td bgcolor="Skyblue">記号</td>
      <td bgcolor="Skyblue">名称</td>
      <td bgcolor="Skyblue">単位</td>
      <td bgcolor="Skyblue">最小値</td>
      <td bgcolor="Skyblue">最大値</td>
      <td bgcolor="Skyblue" colspan="2" ></td>
    </tr>
    #foreach ($item in $trendSeries.propertyList)
    <tr>
      <td bgcolor="Navy" align="centor"><font color="$item.color">■</font></td>
      #if ($velocityCount < $trendSeries.seriesSize)
        #if ($trendSeries.seriesSize < $trendSeries.propertyList.size())
          <input type="hidden" name="point" value="$!item.point" />
          <input type="hidden" name="inputminimums" value="$!item.inputminimums" />
          <input type="hidden" name="inputmaximums" value="$!item.inputmaximums" />
          <!-- input type="hidden" name="provider" value="$!item.provider" / -->
          <input type="hidden" name="holder" value="$!item.holder" />
          <td bgcolor="Khaki">$!F11util.htmlEscape($item.unit)</td>
          <td bgcolor="Khaki">$!F11util.htmlEscape($item.name)</td>
          <td bgcolor="Khaki">$!F11util.htmlEscape($item.unit_mark)</td>
          <td bgcolor="Khaki"><input type="text" name="minimums" size="10" value="$!item.minimums"/></td>
          <td bgcolor="Khaki"><input type="text" name="maximums" size="10" value="$!item.maximums"/></td>
          <td><a href="$link.setForward('inputNewTrendItem').addQueryData('pos',"$velocityCount")">挿入</a></td>
          <td><a href="$link.setForward('asksTrendItemDelete').addQueryData('pos',"$velocityCount")">削除</a></td>
        #else
          <input type="hidden" name="point" value="$!item.point" />
          <input type="hidden" name="inputminimums" value="$!item.inputminimums" />
          <input type="hidden" name="inputmaximums" value="$!item.inputmaximums" />
          <!-- input type="hidden" name="provider" value="$!item.provider" / -->
          <input type="hidden" name="holder" value="$!item.holder" />
          <td bgcolor="Khaki">$!F11util.htmlEscape($item.unit)</td>
          <td bgcolor="Khaki">$!F11util.htmlEscape($item.name)</td>
          <td bgcolor="Khaki">$!F11util.htmlEscape($item.unit_mark)</td>
          <td bgcolor="Khaki"><input type="text" name="minimums" size="10" value="$!item.minimums"/></td>
          <td bgcolor="Khaki"><input type="text" name="maximums" size="10" value="$!item.maximums"/></td>
          <td></td>
          <td><a href="$link.setForward('asksTrendItemDelete').addQueryData('pos',"$velocityCount")">削除</a></td>
        #end
      #elseif ($velocityCount == $trendSeries.seriesSize)
        <td bgcolor="Khaki"></td>
        <td bgcolor="Khaki"></td>
        <td bgcolor="Khaki"></td>
        <td bgcolor="Khaki"></td>
        <td bgcolor="Khaki"></td>
        <td><a href="$link.setForward('inputNewTrendItem').addQueryData('pos',"$velocityCount")">追加</a></td>
        <td></td>
      #else
        <td bgcolor="Khaki"></td>
        <td bgcolor="Khaki"></td>
        <td bgcolor="Khaki"></td>
        <td bgcolor="Khaki"></td>
        <td bgcolor="Khaki"></td>
        <td></td>
        <td></td>
      #end
    </tr>
    #end
  </table>
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
  <a href="$link.setAction('/getXmlPage')">戻る</a>
</form>
#end
