#set( $head_title = "$page.pageName変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("page") )

#errorMarkup()

<h3>$head_title</h3>
グループ一覧
<a href="$link.setForward('inputNewTrendSeries').addQueryData('id',"-1")">追加</a>
<table border="0" cellpadding="5">
  <tr>
    <td bgcolor="Skyblue">ID</td>
    <td bgcolor="Skyblue">グループ名</td>
    <td bgcolor="Skyblue" colspan="3" ></td>
  </tr>
  #foreach ($series in $trendSeriesList)
  <tr>
    <td bgcolor="Khaki" align="right">$series.id</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($series.seriesName)</td>
    <td><a href="$link.setForward('editTrendSeries').addQueryData('id',"$series.id")">変更</a></td>
    <td><a href="$link.setForward('inputNewTrendSeries').addQueryData('id',"$series.id")">挿入</a></td>
    <td><a href="$link.setForward('asksTrendSeriesDelete').addQueryData('id',"$series.id")">削除</a></td>
  </tr>
  #end
</table>
<a href="$link.setForward('pageList')">戻る</a>
#end
