#set( $head_title = "$page.pageName グループ削除" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("page") )

#errorMarkup()

<h3>このグループを削除してもよろしいですか？</h3>
<table border="0" cellpadding="5">
  <tr>
    <td bgcolor="Skyblue">グループ名</td>
    <td bgcolor="Khaki" align="left">$!F11util.htmlEscape($name)</td>
  </tr>
</table>
<form method="POST" action="$link.setAction('/removeTrendSeries')" >
  <input type="hidden" name="key" value="$!deleteForm.key" />
  <input type="submit" name="submit" value="削除"/>
  <a href="$link.setAction('/getXmlPage')">戻る</a>
</form>
#end
