#set( $head_title = "$page.pageName変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("page") )

#errorMarkup()

<h3>$head_title</h3>
アイテム一覧
<table border="0" cellpadding="5">
  <tr>
    <td bgcolor="Skyblue">ID</td>
    <td bgcolor="Skyblue">記号</td>
    <td bgcolor="Skyblue">名称</td>
    <td bgcolor="Skyblue">単位</td>
    <td bgcolor="Skyblue">最小値</td>
    <td bgcolor="Skyblue">最大値</td>
    <td bgcolor="Skyblue"></td>
  </tr>
  #foreach ($item in $loggItemList)
  <tr>
    <td bgcolor="Khaki" align="right">$item.pointNo</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($item.pointUnit)</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($item.pointName)</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($item.pointUnitMark)</td>
    <td bgcolor="Khaki" align="right">$item.verticalMinimum</td>
    <td bgcolor="Khaki" align="right">$item.verticalMaximum</td>
    <td>
	<form method="POST" action="$link.setAction('/addTrendItem')" >
	  <input type="hidden" name="pos" value="$pos"/>
	  <input type="hidden" name="point" value="$item.pointNo"/>
	  <input type="hidden" name="unit" value="$item.pointUnit"/>
	  <input type="hidden" name="name" value="$item.pointName"/>
	  <input type="hidden" name="unit_mark" value="$item.pointUnitMark"/>
	  <input type="hidden" name="minimums" value="$item.verticalMinimum"/>
	  <input type="hidden" name="maximums" value="$item.verticalMaximum"/>
	  <input type="hidden" name="inputminimums" value="$item.verticalInputMinimum"/>
	  <input type="hidden" name="inputmaximums" value="$item.verticalInputMaximum"/>
	  <!-- input type="hidden" name="provider" value="$item.dataProviderName"/ -->
	  <input type="hidden" name="holder" value="$item.dataHolderName"/>
      <input type="submit" name="submit" value="選択"/>
	</form>
	<!--
    <a href="$link.setForward('addTrendItem').addQueryData('pos',"$pos").addQueryData('point',"$item.pointNo")">選択</a>
    -->
    </td>
  </tr>
  #end
</table>
<a href="$link.setForward('viewTrendSeries')">戻る</a>
#end
