#set( $head_title = "‰æ–Êíœ" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("page") )

#errorMarkup()

<h3>‚±‚Ì‰æ–Ê‚ğíœ‚µ‚Ä‚à‚æ‚ë‚µ‚¢‚Å‚·‚©H</h3>
<form method="POST" action="$link.setAction('/removePage')" >
  <input type="hidden" name="name" value="$!pageForm.name" />
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">‰æ–Ê–¼</td>
      <td bgcolor="Khaki" align="left">$!F11util.htmlEscape($pageForm.name)</td>
    </tr>
  </table>
  <input type="submit" name="submit" value="íœ"/>
</form>
#end
