#set( $head_title = "âÊñ ïœçX" )
#set( $layout = "Fullscr.vm" )
##if ( $user.hasPermission("page") )

#errorMarkup()

<a href="$link.setForward('pageList')">ñﬂÇÈ</a>

<!--"CONVERTED_APPLET"-->
<!-- HTML CONVERTER -->
<OBJECT 
    classid = "clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
    codebase = "http://java.sun.com/products/plugin/autodl/jinstall-1_4-windows-i586.cab#Version=1,4,0,0"
    WIDTH = 100% HEIGHT = 100% >
    <PARAM NAME = CODE VALUE = org.F11.scada.tool.applet.PageEditorApplet >
    <PARAM NAME = ARCHIVE VALUE = "lib/F-11editor.jar" >
    <PARAM NAME = "type" VALUE = "application/x-java-applet;version=1.4">
    <PARAM NAME = "scriptable" VALUE = "false">
    <PARAM NAME = pagename VALUE="$!pageForm.name">
    <PARAM NAME = pattarn VALUE="1">

    <COMMENT>
	<EMBED 
            type = "application/x-java-applet;version=1.4" 
            CODE = org.F11.scada.tool.applet.PageEditorApplet
            ARCHIVE = "lib/F-11editor.jar"
            WIDTH = 100%
            HEIGHT = 100%  
	    scriptable = false 
        pagename = "$!pageForm.name"
        pattarn = "1"
	    pluginspage = "http://java.sun.com/products/plugin/index.html#download">
	    <NOEMBED>
            alt="F-11EditorApplet"
            </NOEMBED>
	</EMBED>
    </COMMENT>
</OBJECT>

<!--
<APPLET CODE = org.F11.scada.tool.applet.PageEditorApplet ARCHIVE = "lib/F-11editor.jar" WIDTH = 100% HEIGHT = 100%>
alt="F-11EditorApplet"
<PARAM NAME=pagename VALUE="$!pageForm.name">
</APPLET>
-->


<!--"END_CONVERTED_APPLET"-->

##end
