
## Display all queued Struts errors
#macro (errorMarkup)
    #if ($errors.exist() )
        <ul><font color="red">
        #foreach ($e in $errors.all )
            <li>$e</li>
        #end
        </font></ul>
    #end
#end                    

## Display all queued Struts errors for a particular property
#macro (errorMarkupForProperty $property)
    #if ($errors.exist($property) )
        <ul><font color="red">
        #foreach ($er in $errors.get($property))
            <li>$er</li>
        #end
        </font></ul>
    #end
#end                    
