<?xml version="1.0" encoding="Shift_JIS" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!--テキストにログを出力するConsoleAppenderをSTDOUTとして定義 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender" >
		<!-- ログの出力形式を指定 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] [%t] %-5p (%F:%L) - %m%n"/>
		</layout>
	</appender>

	<!--テキストにログを出力するConsoleAppenderをSTDOUTとして定義 -->
	<appender name="STDOUT1" class="org.apache.log4j.ConsoleAppender" >
		<!-- ログの出力形式を指定 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d] [%t] %-5p (%F:%L) - %m%n"/>
		</layout>
	</appender>

<!--
	<category name="org.seasar">
		<level value="debug" />
		<appender-ref ref="STDOUT1" />
	</category>
	<category name="org.F11.scada.server.timeset.parser">
		<level value="debug" />
		<appender-ref ref="STDOUT1" />
	</category>
 -->

	<!-- すべてのログをinfo -->
	<root>
		<level value="info" />
		<appender-ref ref="STDOUT" />
	</root>
</log4j:configuration>
