#set( $head_title = "電子メール送信グループ マスター追加" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("email_group_master") )

#errorMarkup()

<h3>$head_title</h3>
<form method="POST" action="$link.setAction('/setEmailgroupMaster')" >
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">ID</td>
      <td bgcolor="Khaki" align="left">$!emailgroupMasterForm.group_id</td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">グループ名</td>
      <td bgcolor="Khaki" align="left"><input type="text" size="20" name="group_name" value="$!emailgroupMasterForm.group_name" /></td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">メールアドレス</td>
      <td bgcolor="Khaki" align="left">
      	<table border="0">
      	  #foreach ($addr in $emailgroupMasterForm.addrList)
      	  <tr><td>
			<input type="text" size="50" name="addrList" value="$!addr" />
		  </td></tr>
		  #end
      	  <tr><td>
			<input type="text" size="50" name="addressNew" value="$!emailgroupMasterForm.addressNew" />(新規)
		  </td></tr>
	    </table>
      </td>
    </tr>
  </table>
  <input type="hidden" name="group_id" value="$!emailgroupMasterForm.group_id" />
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
</form>
#end
