#set( $head_title = "警報音 属性別設定変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("sound_attribute_setting") )

#errorMarkup()

<h3>$head_title</h3>
<form method="POST" action="$link.setAction('/setSoundAttribute')" >
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">管理番号</td>
      <td bgcolor="Skyblue">属性名</td>
      <td bgcolor="Skyblue">警報音の有無</td>
    </tr>
    <tr>
      <td bgcolor="Khaki" align="right">$!soundAttributeForm.attribute</td>
      <td bgcolor="Khaki" align="left">$!F11util.htmlEscape($soundAttributeForm.name)</td>
      <td bgcolor="Khaki" align="left">
        <input type="radio" name="soundType" value="1"#if ($soundAttributeForm.soundType == 1) checked="checked" #end/>有
        <input type="radio" name="soundType" value="0"#if ($soundAttributeForm.soundType != 1) checked="checked" #end/>無
      </td>
    </tr>
  </table>
  <input type="hidden" name="attribute" value="$!soundAttributeForm.attribute" />
  <input type="hidden" name="name" value="$!soundAttributeForm.name" />
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
</form>
<a href="$link.setForward('soundAttributeList')">戻る</a>
#end