#set( $head_title = "警報音 属性別設定" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission('sound_attribute_setting') )

#errorMarkup()

<h3>$head_title</h3>
属性別リスト
<table border="0" cellpadding="5">
  <tr>
    <td bgcolor="Skyblue">管理番号</td>
    <td bgcolor="Skyblue">属性名</td>
    <td bgcolor="Skyblue">属性警報音</td>
  </tr>
  #foreach ($attribute in $attributelist)
  <tr>
    <td bgcolor="Khaki" align="right">$!attribute.attribute</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($attribute.name)</td>
    #if ($attribute.soundType == 1)
	    <td style="color:crimson; background:Khaki; text-align: center">有</td>
    #else
	    <td style="background:Khaki; text-align: center">無</td>
    #end
    <td><a href="$link.setForward('editSoundAttribute').addQueryData('attribute',"$attribute.attribute")">変更</a></td>
  </tr>
  #end
</table>
#end