#set( $head_title = "電子メール送信グループ 属性別設定変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("email_attribute_setting") )

#errorMarkup()

<h3>$head_title</h3>
<form method="POST" action="$link.setAction('/setEmailgroupAttribute')" >
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">ID</td>
      <td bgcolor="Skyblue">属性名</td>
    </tr>
    <tr>
      <td bgcolor="Khaki" align="left">$!emailgroupAttributeForm.attribute_id</td>
      <td bgcolor="Khaki" align="left">$!F11util.htmlEscape($emailgroupAttributeForm.attribute_name)</td>
    </tr>
  </table>
  <br>
  送信グループリスト
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">送信</td>
      <td bgcolor="Skyblue">グループ名</td>
    </tr>
    #foreach ($master in $emailgroupAttributeForm.masterList)
    <tr>
      #set ($checked = "")
      #foreach ($assignID in $emailgroupAttributeForm.assignList)
      	#if ($master.group_id.toString() == $assignID)
      	  #set ($checked = "checked")
      	#end
      #end
      <td bgcolor="Khaki" align="center"><input type="checkbox" name="assignList" value="$master.group_id" $checked /></td>
      <td bgcolor="Khaki" align="left">$!master.group_name</td>
    </tr>
    #end
    <tr>
      <td bgcolor="Skyblue">メール<br>アドレス</td>
      <td bgcolor="Khaki" align="left">
		<input type="text" size="50" name="address" value="$!emailgroupAttributeForm.address" />
      </td>
    </tr>
  </table>
  <input type="hidden" name="attribute_id" value="$!emailgroupAttributeForm.attribute_id" />
  <input type="hidden" name="attribute_name" value="$!emailgroupAttributeForm.attribute_name" />
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
</form>
#end
