#set( $head_title = "グループ管理" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("group") )

#errorMarkup()

<h3>$head_title</h3>
グループリスト
<!--
<a href="$link.setForward('inputNewGroup')">追加</a>
-->
<table border="0" cellpadding="5">
  <tr>
    <td bgcolor="Skyblue">グループ名</td>
    <td bgcolor="Skyblue" colspan="2" ></td>
  </tr>
  #foreach ($name in $groupList)
  <tr>
    <td bgcolor="Khaki">$!F11util.htmlEscape($name)</td>
    <td><a href="$link.setForward('editGroup').addQueryData('name',"$name")">変更</a></td>
    <td><!-- <a href="$link.setForward('asksGroupDelete').addQueryData('name',"$name")">削除</a> --></td>
  </tr>
  #end
</table>
#end
