#set( $head_title = "電子メール送信グループ 個別設定変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("email_individual_setting") )

#errorMarkup()

<h3>$head_title</h3>
<form method="POST" action="$link.setAction('/setEmailgroupIndividual')" >
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">記号</td>
      <td bgcolor="Skyblue">ポイント名</td>
      <td bgcolor="Skyblue">属性名</td>
    </tr>
    <tr>
      <td bgcolor="Khaki" align="left">$!F11util.htmlEscape($emailgroupIndividualForm.p_unit)</td>
      <td bgcolor="Khaki" align="left">$!F11util.htmlEscape($emailgroupIndividualForm.p_name)</td>
      <td bgcolor="Khaki" align="left">$!F11util.htmlEscape($emailgroupIndividualForm.p_attrname)</td>
    </tr>
  </table>
  <br>
  送信グループリスト
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">送信</td>
      <td bgcolor="Skyblue">グループ名</td>
    </tr>
    #foreach ($master in $emailgroupIndividualForm.masterList)
    <tr>
      #set ($checked = "")
      #foreach ($assignID in $emailgroupIndividualForm.assignList)
      	#if ($master.group_id.toString() == $assignID)
      	  #set ($checked = "checked")
      	#end
      #end
      <td bgcolor="Khaki" align="center"><input type="checkbox" name="assignList" value="$master.group_id" $checked /></td>
      <td bgcolor="Khaki" align="left">$!master.group_name</td>
    </tr>
    #end
    <tr>
      <td bgcolor="Skyblue">メール<br>アドレス</td>
      <td bgcolor="Khaki" align="left">
		<input type="text" size="50" name="address" value="$!emailgroupIndividualForm.address" />
      </td>
    </tr>
  </table>
  <input type="hidden" name="provider" value="$!emailgroupIndividualForm.provider" />
  <input type="hidden" name="holder" value="$!emailgroupIndividualForm.holder" />
  <input type="hidden" name="p_unit" value="$!emailgroupIndividualForm.p_unit" />
  <input type="hidden" name="p_name" value="$!emailgroupIndividualForm.p_name" />
  <input type="hidden" name="p_attrname" value="$!emailgroupIndividualForm.p_attrname" />
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
</form>
#end
