#set( $head_title = "グループ所属変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("group") )

<script type="text/javascript">
<!--
function func() {
    var i;
    if (document.users.select.length) {
        for (i = 0; i < document.users.select.length; i++) {
            document.users.select[i].checked = true;
        }
    } else {
        document.users.select.checked = true;
    }
}
// -->
</script>

#errorMarkup()

<h3>$head_title</h3>
<form method="POST" name="users" action="$link.setAction('/setGroup')" >
  <input type="hidden" name="name" value="$!groupForm.name" />
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">グループ名</td>
      <td bgcolor="Khaki" align="left">$!F11util.htmlEscape($groupForm.name)</td>
    </tr>
  </table>
  <br>
  ユーザーリスト
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">所属</td>
      <td bgcolor="Skyblue">ユーザー名</td>
    </tr>
    #foreach ($user in $groupForm.users)
    <tr>
      <td bgcolor="Khaki" align="center"><input type="checkbox" name="select" value="$user" #if ($assignList.contains($user)) checked #end /></td>
      <td bgcolor="Khaki" align="left"><input type="hidden" name="users" value="$!user" />$!F11util.htmlEscape($user)</td>
    </tr>
    #end
  </table>
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
  <input type="button" value="全選択" onclick="func()">
</form>
#end
