#set( $head_title = "警報履歴一覧" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("career") )

#errorMarkup()

<h3>$head_title</h3>
<a href="$link.setForward('editCareerConditions')">検索条件入力</a>
<center>
<table border="0" cellspacing="0" cellpadding="2" width="100%">
<tr bgcolor="Silver">
<td>
<small>
#if ( $startPos )
<b>$!allCount</b>件中 <b>$!startPos</b>～<b>$!endPos</b>件
<div align="right">
<a href="$link.setForward('getCareerCsv')" >CSVダウンロード</a>
</div>
#else
<b>0</b>件
#end
</small>
</td>
</tr>
</table>

</center>
<table border="0" cellpadding="3">
  <tr>
    <td colspan="5">
      <table border="0" cellpadding="1" width="100%">
        <tr>
<td align="right" width="50%" >#if ( $forward ) <a href="$link.setForward('careerList').addQueryData('c',"$forward")">前のページ</a> #end</td>
<td align="left" width="50%" >#if ( $next ) <a href="$link.setForward('careerList').addQueryData('c',"$next")">次のページ</a> #end</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td bgcolor="Silver">日時</td>
    <td bgcolor="Silver">記号</td>
    <td bgcolor="Silver">名称</td>
    <td bgcolor="Silver">種別</td>
    <td bgcolor="Silver">警報・状態</td>
  </tr>
  #foreach ($career in $careerList)
  <tr>
    <td><font color="$career.alarm_color">$!career.entrydate</font></td>
    <td><font color="$career.alarm_color">$!F11util.htmlEscape($career.unit)</font></td>
    <td><font color="$career.alarm_color">$!F11util.htmlEscape($career.p_name)</font></td>
    <td><font color="$career.alarm_color">$!F11util.htmlEscape($career.att_name)</font></td>
    <td><font color="$career.alarm_color">$!F11util.htmlEscape($career.message)</font></td>
  </tr>
  #end
  <tr>
    <td colspan="5">
      <table border="0" cellpadding="1" width="100%">
        <tr>
<td align="right" width="50%" >#if ( $forward ) <a href="$link.setForward('careerList').addQueryData('c',"$forward")">前のページ</a> #end</td>
<td align="left" width="50%" >#if ( $next ) <a href="$link.setForward('careerList').addQueryData('c',"$next")">次のページ</a> #end</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
#end
