#set( $head_title = "警報ヒストリ 検索条件入力" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("career") )

#errorMarkup()

<h3>$head_title</h3>
<form method="POST" action="$link.setAction('/setHistoryConditions')" >
  <table border="0" cellpadding="5">
  <tr>
    <td>1.日付指定</td>
    <td><input type="checkbox" name="stEneble" #if ($conditionForm.stEneble == true) checked #end />開始日付
    <input type="text" name="stYear" value="$!conditionForm.stYear" size="5" />年
    <input type="text" name="stMonth" value="$!conditionForm.stMonth" size="2" />月
    <input type="text" name="stDay" value="$!conditionForm.stDay" size="2" />日
    <input type="text" name="stHour" value="$!conditionForm.stHour" size="2" />時
    <input type="text" name="stMinute" value="$!conditionForm.stMinute" size="2" />分
    <input type="text" name="stSecond" value="$!conditionForm.stSecond" size="2" />秒
    </td>
  </tr>
  <tr>
    <td><br></td>
    <td><input type="checkbox" name="etEneble" #if ($conditionForm.etEneble == true) checked #end />終了日付
    <input type="text" name="etYear" value="$!conditionForm.etYear" size="5" />年
    <input type="text" name="etMonth" value="$!conditionForm.etMonth" size="2" />月
    <input type="text" name="etDay" value="$!conditionForm.etDay" size="2" />日
    <input type="text" name="etHour" value="$!conditionForm.etHour" size="2" />時
    <input type="text" name="etMinute" value="$!conditionForm.etMinute" size="2" />分
    <input type="text" name="etSecond" value="$!conditionForm.etSecond" size="2" />秒
    </td>
  </tr>
  <tr>
    <td>2.検索文字列</td>
    <td><input type="text" name="findString" value="$!conditionForm.findString" /></td>
  </tr>
  <tr>
    <td>3.種別</td>
    <td><select name="msgString">
      #foreach ($sel in $selectList)
      <option value="$sel" #if ($sel == $conditionForm.msgString) selected #end >$sel</option>
      #end
    </select></td>
  </tr>
  <tr>
    <td>4.条件</td>
    <td>
    <input type="radio" name="bitval" value="all" #if ( $conditionForm.bitval == 'all' ) checked #end />全て
    <input type="radio" name="bitval" value="true" #if ( $conditionForm.bitval == 'true' ) checked #end />発生のみ
    <input type="radio" name="bitval" value="false" #if ( $conditionForm.bitval == 'false' ) checked #end />復旧のみ</td>
  </tr>
  <tr>
    <td>5.確認</td>
    <td>
    <input type="radio" name="histrycheck" value="all" #if ( $conditionForm.histrycheck == 'all' ) checked #end />全て
    <input type="radio" name="histrycheck" value="true" #if ( $conditionForm.histrycheck == 'true' ) checked #end />確認済み
    <input type="radio" name="histrycheck" value="false" #if ( $conditionForm.histrycheck == 'false' ) checked #end />未確認</td>
  </tr>
  <tr align=center><td colspan=4 >
  <input type="submit" name="submit" value="再検索"/>
  </td></tr>
  </table>
</form>
#end
