#set( $head_title = "ログイン" )
##set( $layout = "Fullscr.vm" )
#errorMarkup()

<h3>ユーザー名とパスワードを入力してください。</h3>
	
<form method="POST" action="$link.setAction('/loginSubmit')" >
  <table border="0" cellpadding="5" width="300">
    <tr>
      <td bgcolor="Skyblue">ユーザー名</td>
      <td bgcolor="Khaki" align="left"><input type="text" name="name" value="$!loginForm.name" /></td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">パスワード</td>
      <td bgcolor="Khaki" align="left"><input type="password" name="pass" value=""/></td>
    </tr>
  </table>
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
</form>
