#set( $head_title = "自動印字設定 変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("autoprint") )

#errorMarkup()

<h3>$head_title</h3>
<form method="POST" action="$link.setAction('/setAutoPrint')" >
  <input type="hidden" name="name" value="$!autoPrintForm.name" />
  <input type="hidden" name="schedule" value="$!autoPrintForm.schedule" />
  <table border="0" cellpadding="5" width="400">
    <tr>
      <td bgcolor="Skyblue">ID</td>
      <td bgcolor="Khaki" align="left">$!autoPrintForm.displayname</td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">自動印字</td>
      <td bgcolor="Khaki">
        <input type="radio" name="autoflag" value="true"#if ($autoPrintForm.autoflag == true) checked #end/>する
        <input type="radio" name="autoflag" value="false"#if ($autoPrintForm.autoflag != true) checked #end/>しない
      </td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">時刻</td>
      <td bgcolor="Khaki" align="left">
        #if ($autoPrintForm.schedule == 'YEARLY')
          <input type="hidden" name="year" value="1" />
          <input type="text" size="3" name="month" value="$!autoPrintForm.month" /> 月
          <input type="hidden" name="month" value="1" />
          <input type="text" size="3" name="day" value="$!autoPrintForm.day" /> 日
        #elseif ($autoPrintForm.schedule == 'MONTHLY')
          <input type="hidden" name="month" value="1" />
          <input type="text" size="3" name="day" value="$!autoPrintForm.day" /> 日
      	#elseif ($autoPrintForm.schedule == 'DAILY')
          <input type="hidden" name="month" value="1" />
          <input type="hidden" name="day" value="1" />
        #else
          <input type="hidden" name="month" value="1" />
          <input type="hidden" name="day" value="1" />
        #end
        <input type="text" size="3" name="hour" value="$!autoPrintForm.hour" /> 時
        <input type="text" size="3" name="minute" value="$!autoPrintForm.minute" /> 分
      </td>
    </tr>
  </table>
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
</form>
#end
