#set( $head_title = "$page.pageName変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("page") )

#errorMarkup()

<h3>$head_title</h3>
ポイント一覧
<!--
<a href="$link.setForward('inputNewPage')">追加</a>
-->
<table border="0" cellpadding="5">
  <tr>
    <td bgcolor="Skyblue">ID</td>
    <td bgcolor="Skyblue">記号</td>
    <td bgcolor="Skyblue">名称</td>
    <td bgcolor="Skyblue">単位</td>
    <td bgcolor="Skyblue">最小値</td>
    <td bgcolor="Skyblue">最大値</td>
    <td bgcolor="Skyblue"></td>
  </tr>
  #foreach ($barPoint in $barPointList)
  <tr>
    <td bgcolor="Khaki">$barPoint.point</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($barPoint.unit)</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($barPoint.name)</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($barPoint.unit_mark)</td>
    <td bgcolor="Khaki">$barPoint.minimums</td>
    <td bgcolor="Khaki">$barPoint.maximums</td>
    <td><a href="$link.setForward('getBarPoint').addQueryData('point',"$barPoint.point")">変更</a></td>
  </tr>
  #end
</table>
<a href="$link.setForward('pageList')">戻る</a>
#end
