#set( $head_title = "FFUグループ名称" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("ffugroupname") )

#errorMarkup()

<h3>$head_title</h3>
FFUグループ名称リスト
<table border="0" cellpadding="5">
  <tr>
    <td bgcolor="Skyblue">No</td>
    <td bgcolor="Skyblue">名称</td>
    <td bgcolor="Skyblue"></td>
  </tr>
  #foreach ($point in $pointList)
  #if (0 < $point.point && $point.point <= 32)
  <tr>
    <td bgcolor="Khaki" align="right">$!point.point</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($point.name)</td>
    <td><a href="$link.setForward('editFfugroupName').addQueryData('point',"$point.point")">変更</a></td>
  </tr>
  #end
  #end
</table>
#end
