#set( $head_title = "パスワード設定" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("user") )

#errorMarkup()

<h3>$head_title</h3>
<form method="POST" action="$link.setAction('/setUser')" >
  <input type="hidden" name="name" value="$!passwordForm.name" />
  <table border="0" cellpadding="5" width="300">
    <tr>
      <td bgcolor="Skyblue">ユーザー名</td>
      <td bgcolor="Khaki" align="left">$!F11util.htmlEscape($passwordForm.name)</td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">パスワード</td>
      <td bgcolor="Khaki" align="left"><input type="password" name="pass1" value="" /></td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">パスワード（再）</td>
      <td bgcolor="Khaki" align="left"><input type="password" name="pass2" value=""/></td>
    </tr>
  </table>
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
</form>
#end
