#set( $head_title = "$page.pageName変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("page") )

#errorMarkup()

<h3>$head_title</h3>
<form method="POST" action="$link.setAction('/setBarPoint')" >
  <input type="hidden" name="point" value="$barPointForm.point" />
  <table border="0" cellpadding="5">
  <tr>
    <td bgcolor="Skyblue">ID</td>
    <td bgcolor="Skyblue">記号</td>
    <td bgcolor="Skyblue">名称</td>
    <td bgcolor="Skyblue">単位</td>
    <td bgcolor="Skyblue">最小値</td>
    <td bgcolor="Skyblue">最大値</td>
  </tr>
  <tr>
    <td bgcolor="Khaki">$!barPointForm.point</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($barPointForm.unit)</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($barPointForm.name)</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($barPointForm.unit_mark)</td>
    <td bgcolor="Khaki"><input type="text" name="minimums" size="15" value="$!barPointForm.minimums" /></td>
    <td bgcolor="Khaki"><input type="text" name="maximums" size="15" value="$!barPointForm.maximums" /></td>
  </tr>
  </table>
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
  <a href="$link.setAction('/getXmlPage')">戻る</a>
</form>
#end
