<?xml version="1.0" encoding="Windows-31J"?>
<!DOCTYPE components PUBLIC "-//SEASAR2.1//DTD S2Container//EN"
	"http://www.seasar.org/dtd/components21.dtd">

<components>
	<!-- これを追加します -->
	<component name="email" class="org.F11.scada.server.goda.impl.GodaEmailImpl" >
		<property name="search">
			<component class="org.F11.scada.server.goda.impl.GodaFileSearchImpl" />
		</property>
	</component>
	<!-- これを追加します -->

	<component class="org.F11.scada.xwife.explorer.Explorer">
		<arg>aboutPanel</arg>
		<!-- ここから追加。コメントに従ってプロパティを設定してください -->
		<initMethod name="put" >
			<arg>"GODA"</arg>
			<arg>
				<component class="org.F11.scada.server.goda.Goda" >
					<initMethod name="schedule" >
						<arg>
							<component class="org.F11.scada.scheduling.Schedule" >
								<property name="task" >
									<component class="org.F11.scada.server.goda.GodaTask" >
										<arg>email</arg>
										<arg>
											<component class="org.F11.scada.server.goda.GodaTaskProperty" >
												<!-- 監視対象フォルダ(ロギング出力先と同じものを設定) -->
												<property name="watchPath">"c:/temp/csv/goda"</property>
												<!-- 監視対象ファイル名 -->
												<property name="fileFormat">"yyyyMMdd'_C01_01.csv'"</property>
												<!-- 送信エラー時のリトライ回数 -->
												<property name="retryTime">5</property>
												<!-- 送信エラー時のリトライ待機時間(ミリ秒) -->
												<property name="retryWait">10000</property>
												<!-- SMTPサーバー -->
												<property name="mailServer">"mail.inside.frdm.co.jp"</property>
												<!-- 送信先アドレス(複数指定可) -->
												<property name="toAddresses">{"maekawa@frdm.co.jp"}</property>
												<!-- 送信元アドレス -->
												<property name="fromAddress">"maekawa@frdm.co.jp"</property>
												<!-- メール表題 -->
												<property name="subject">"GODAだ。"</property>
												<!-- メール本文 -->
												<property name="body">"本日のGODA"</property>
											</component>
										</arg>
										<initMethod name="run" />
									</component>
								</property>
								<property name="scheduleIterator" >
									<component class="org.F11.scada.scheduling.DailyIterator" >
										<!-- メール送信時間 時分秒 -->
										<arg>0</arg>
										<arg>5</arg>
										<arg>0</arg>
									</component>
								</property>
							</component>
						</arg>
					</initMethod>
					<!-- ここまでを追加。コメントに従ってプロパティを設定してください -->
				</component>
			</arg>
		</initMethod>
	</component>
</components>
