#set( $head_title = "パスワード変更" )
#set( $layout = "Default.vm" )
#if ( $user )
#errorMarkup()

<h3>$head_title</h3>
<form method="POST" action="$link.setAction('/setPassword')" >
  <input type="hidden" name="name" value="$!user.name" />
  <table border="0" cellpadding="5" width="300">
    <tr>
      <td bgcolor="Skyblue">ユーザー名</td>
      <td bgcolor="Khaki" align="left">$!user.name</td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">旧パスワード</td>
      <td bgcolor="Khaki" align="left"><input type="password" name="passOld" value="" /></td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">新パスワード</td>
      <td bgcolor="Khaki" align="left"><input type="password" name="pass1" value="" /></td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">新パスワード（再）</td>
      <td bgcolor="Khaki" align="left"><input type="password" name="pass2" value=""/></td>
    </tr>
  </table>
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
</form>
#end
