#set( $head_title = "ポイント名称変更" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("name") )
#parse("/vm/point/name/attribute.vm")

#errorMarkup()

<h3>$head_title</h3>
<form method="POST" action="$link.setAction('/setName')" >
  <input type="hidden" name="point" value="$!nameForm.point" />
  <table border="0" cellpadding="5" width="400">
    <tr>
      <td bgcolor="Skyblue">ID</td>
      <td bgcolor="Khaki" align="left">$!nameForm.point</td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">記号</td>
      <td bgcolor="Khaki" align="left"><input type="text" name="unit" value="$!nameForm.unit" /></td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">名称</td>
      <td bgcolor="Khaki" align="left"><input type="text" size="50" name="name" value="$!nameForm.name" /></td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">単位</td>
      <td bgcolor="Khaki" align="left"><input type="text" name="unit_mark" value="$!nameForm.unit_mark"/></td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">$attributename1</td>
      <td bgcolor="Khaki" align="left"><input type="text" name="attribute1" value="$!nameForm.attribute1"/></td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">$attributename2</td>
      <td bgcolor="Khaki" align="left"><input type="text" name="attribute2" value="$!nameForm.attribute2"/></td>
    </tr>
    <tr>
      <td bgcolor="Skyblue">$attributename3</td>
      <td bgcolor="Khaki" align="left"><input type="text" name="attribute3" value="$!nameForm.attribute3"/></td>
    </tr>
  </table>
  <input type="submit" name="submit" value="送信"/>
  <input type="reset" name="reset" value="リセット"/>
</form>
#end
