#set( $head_title = "電子メール送信先" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("email") )

#errorMarkup()

<h3>$head_title</h3>
電子メール送信先リスト
<a href="$link.setForward('inputNewEmail')">追加</a>
<table border="0" cellpadding="5">
  <tr>
    <td bgcolor="Skyblue">ID</td>
    <td bgcolor="Skyblue">メールアドレス</td>
    <td bgcolor="Skyblue" colspan="2" ></td>
  </tr>
  #foreach ($email in $emailList)
  <tr>
    <td bgcolor="Khaki" align="right">$!email.group_id</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($email.address)</td>
    <td><a href="$link.setForward('editEmail').addQueryData('group_id',"$email.group_id").addQueryData('address',"$email.address")">変更</a></td>
    <td><a href="$link.setForward('asksEmailDelete').addQueryData('group_id',"$email.group_id").addQueryData('address',"$email.address")">削除</a></td>
  </tr>
  #end
</table>
#end
