#set( $head_title = "ポイント名称削除" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("name") )

#errorMarkup()

<h3>このポイント名称を削除してもよろしいですか？</h3>
<form method="POST" action="$link.setAction('/removeName')" >
  <input type="hidden" name="point" value="$!nameForm.point" />
  <table border="0" cellpadding="5">
    <tr>
      <td bgcolor="Skyblue">ID</td>
      <td bgcolor="Khaki" align="left">$!nameForm.point</td>
    </tr>
  </table>
  <input type="submit" name="submit" value="削除"/>
</form>
#end
