<?xml version="1.0" encoding="Windows-31J"?>
<!DOCTYPE components PUBLIC "-//SEASAR2.1//DTD S2Container//EN"
	"http://www.seasar.org/dtd/components21.dtd">

<components namespace="org_F11_scada_server_remove">
	<description>
	テーブル自動削除の定義ファイルです。削除機能を使用しない場合は、
	このファイル(RemoveDefine.dicon)を削除してください。
	</description>

	<include path="org/F11/scada/server/remove/RemoveDao.dicon"/>

	<component class="org.F11.scada.server.remove.impl.RemoveServiceImpl">
		<!-- 削除コンポーネントを指定 秒数:secondRemoveDao 件数:countRemoveDao -->
		<property name="dao">countRemoveDao</property>

		<!-- 削除スケジュールの設定 -->
		<initMethod name="addSchedule" >
			<description>履歴テーブル</description>
			<arg>
				<component class="org.F11.scada.server.remove.RemoveDto" >
					<property name="tableName">"career_table"</property>
					<property name="dateFieldName">"entrydate"</property>
					<property name="removeValue">30000</property>
				</component>
			</arg>
			<arg>
				<component class="org.F11.scada.scheduling.DailyIterator">
					<arg><description>時</description>1</arg>
					<arg><description>分</description>22</arg>
					<arg><description>秒</description>0</arg>
				</component>
			</arg>
		</initMethod>

		<initMethod name="addSchedule" >
			<description>ヒストリテーブル</description>
			<arg>
				<component class="org.F11.scada.server.remove.RemoveDto" >
					<property name="tableName">"history_table"</property>
					<property name="dateFieldName">"off_date"</property>
					<property name="removeValue">30000</property>
				</component>
			</arg>
			<arg>
				<component class="org.F11.scada.scheduling.DailyIterator">
					<arg><description>時</description>1</arg>
					<arg><description>分</description>23</arg>
					<arg><description>秒</description>0</arg>
				</component>
			</arg>
		</initMethod>

		<initMethod name="addSchedule" >
			<description>ロギングテーブル</description>
			<arg>
				<component class="org.F11.scada.server.remove.RemoveDto" >
					<property name="tableName">"log_table_minute"</property>
					<property name="dateFieldName">"f_date"</property>
					<property name="removeValue">30000</property>
				</component>
			</arg>
			<arg>
				<component class="org.F11.scada.scheduling.DailyIterator">
					<arg><description>時</description>1</arg>
					<arg><description>分</description>32</arg>
					<arg><description>秒</description>0</arg>
				</component>
			</arg>
		</initMethod>

		<initMethod name="addSchedule" >
			<description>警報メール送信履歴(毎月1日の2時に削除)</description>
			<arg>
				<component class="org.F11.scada.server.remove.RemoveDto" >
					<property name="tableName">"alarm_email_sent_table"</property>
					<property name="dateFieldName">"sentdate"</property>
					<property name="removeValue">10000</property>
				</component>
			</arg>
			<arg>
				<component class="org.F11.scada.scheduling.MonthlyIterator">
					<arg><description>日</description>1</arg>
					<arg><description>時</description>2</arg>
					<arg><description>分</description>33</arg>
					<arg><description>秒</description>0</arg>
				</component>
			</arg>
		</initMethod>
	</component>
</components>
