#set( $head_title = "電子メール送信グループ 個別設定" )
#set( $layout = "Default.vm" )
#if ( $user.hasPermission("email_individual_setting") )

#errorMarkup()

<h3>$head_title</h3>
個別リスト
<table border="0" cellpadding="5">
  <tr>
    <td bgcolor="Skyblue">管理番号</td>
    <td bgcolor="Skyblue">記号</td>
    <td bgcolor="Skyblue">ポイント名</td>
    <td bgcolor="Skyblue">属性名</td>
    <td bgcolor="Skyblue">送信グループID,メールアドレス</td>
    <td bgcolor="Skyblue"></td>
  </tr>
  #foreach ($emailgroupIndividual in $emailgroupIndividualList)
  <tr>
    <td bgcolor="Khaki" align="right">$!emailgroupIndividual.point</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($emailgroupIndividual.p_unit)</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($emailgroupIndividual.p_name)</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($emailgroupIndividual.p_attrname)</td>
    <td bgcolor="Khaki">$!F11util.htmlEscape($emailgroupIndividual.email_address)</td>
    <td><a href="$link.setForward('editEmailgroupIndividual').addQueryData('provider',"$emailgroupIndividual.provider").addQueryData('holder',"$emailgroupIndividual.holder")">変更</a></td>
  </tr>
  #end
</table>
#end
