body { text-align: justify; text-justify: inter-ideograph; }

H1 {
    width: 100%;
    font-weight: bold;
    font-size:18pt
    color: #ffffff;
    background-color: #87ceeb;
    border: 1px none #8888f8;
    border-top: 1px solid #8888f8;
    border-left: 1px solid #8888f8;
    border-right: 1px solid #666699;
    border-bottom: 1px solid #666699;
    padding: 5px 3px 3px 0.5em;
}

H2 {
    width: 100%;
    font-weight: bold;
    font-size:16pt
    color: #ffffff;
    background-color: #8484ee;
    border: 1px none #8888f8;
    border-top: 1px solid #8888f8;
    border-left: 1px solid #8888f8;
    border-right: 1px solid #666699;
    border-bottom: 1px solid #666699;
    padding: 5px 3px 3px 0.5em;
}
pre {
    border: 1px solid gray;
    padding: 5px;
    white-space: pre;
    width: 100%;
    background-color: #fffff0;
}
th {
    background-color: #fcceea;
}
td {
    background-color: #fffff0;
}