<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>F-11 メンテナンス $!head_title</title>
</head>
<body>
      $screen_content
</body>
</html>
